<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nehalem | Login</title>
</head>
<body>

<h1>
    Login
</h1>
<div id="alerts">

</div>

<form onsubmit="login();return false;">
    Username:<br>
    <input type="text" name="username" id="username">
    <br>
    Password:<br>
    <input type="password" name="password" id="password">
    <br><br>
    <input type="submit" value="Fucking Login">
</form>

</body>
<script src="/static/js/jquery-3.3.1.min.js"></script>


<script type="application/javascript">


    function login() {

        var formData = new FormData();

        formData.append("username", $('#username').val());
        formData.append("password", $('#password').val());

        $.ajax({
            type: "POST",
            url: "http://localhost:3000/api/login",
            data: formData,
            processData: false,
            contentType: false,
            crossDomain: true,
            success: function (data) {
                console.log(data);
                localStorage.setItem('token', data.token);






                // Retrieve the object from storage
                // var retrievedObject = localStorage.getItem('token');
                // console.log('retrievedObject: ', retrievedObject);
            },
            error: function (err) {

                if (err.status === 404) {
                    var errEl = $("<h2></h2>").text("Usuario não encontrado, tente outra vez!");
                    $("#alerts").append(errEl);
                }


                console.error(err);
            }
        });


        return false;
    }

</script>


</html>

